name: test-unit

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:

  test:
    runs-on: ubuntu-20.04
    steps:

    - name: Check out code
      uses: actions/checkout@v2

    - name: Set up golang 1.16
      uses: actions/setup-go@v2
      with:
        go-version: 1.16
        
    - name: Run unit test
      run: go test -v ./... 

    - name: Run build test
      run: go build ./cmd/service-auth/main.go
